# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Callu\OneDrive - Swansea University\Uni Work\CS-230 Software Engineering\Assignment\A2\labyrinth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
